/* Variables */
/* Blog page styles */
.block-25 .blog-category, .block-26 .blog-category {
  height: 24px;
  color: #2D74FF;
  background: #D5E3FF;
  border-radius: 20px;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.5px;
  padding-left: 10px;
  padding-right: 10px; }

.block-25 .mini-blog-posts, .block-26 .mini-blog-posts {
  border-left: 1px solid rgba(0, 0, 0, 0.1); }

.block-25 .blog-post, .block-26 .blog-post {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .block-25 .blog-post:nth-of-type(3), .block-25 .blog-post:last-of-type, .block-26 .blog-post:nth-of-type(3), .block-26 .blog-post:last-of-type {
    border-bottom: none; }

@media (max-width: 991.98px) {
  .block-25 .big-blog-post, .block-26 .big-blog-post {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); } }

@media (max-width: 767.98px) {
  .block-25 .mini-blog-posts, .block-26 .mini-blog-posts {
    border-left: none; }
  .block-25 .blog-post:nth-of-type(3), .block-26 .blog-post:nth-of-type(3) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 20px; } }

.block-26 .post-block, .block-28 .post-block {
  height: 540px;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px; }
  .block-26 .post-block:hover, .block-28 .post-block:hover {
    -webkit-filter: drop-shadow(0px 30px 100px rgba(0, 0, 0, 0.08));
    filter: drop-shadow(0px 30px 100px rgba(0, 0, 0, 0.08)); }
  .block-26 .post-block .img-block, .block-28 .post-block .img-block {
    height: calc(100% - 270px);
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover; }
  .block-26 .post-block .post-block-inner, .block-28 .post-block .post-block-inner {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0 0 10px 10px;
    height: 270px;
    position: relative;
    background: #ffffff; }
    .block-26 .post-block .post-block-inner .blog-header, .block-28 .post-block .post-block-inner .blog-header {
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical; }
    .block-26 .post-block .post-block-inner .date-info, .block-28 .post-block .post-block-inner .date-info {
      position: absolute;
      bottom: 20px; }
  .block-26 .post-block.no-picture .post-block-inner, .block-28 .post-block.no-picture .post-block-inner {
    background: #F1F4FA;
    border-radius: 10px;
    border: none;
    height: 540px; }
    .block-26 .post-block.no-picture .post-block-inner .blog-header, .block-28 .post-block.no-picture .post-block-inner .blog-header {
      -webkit-line-clamp: 7; }

@media (max-width: 767.98px) {
  .block-26 .post-block, .block-28 .post-block {
    height: auto; }
    .block-26 .post-block .img-block, .block-28 .post-block .img-block {
      height: calc(540px / 1.52); }
    .block-26 .post-block .post-block-inner, .block-28 .post-block .post-block-inner {
      height: auto;
      position: relative;
      background: #ffffff; }
      .block-26 .post-block .post-block-inner .blog-header, .block-28 .post-block .post-block-inner .blog-header {
        overflow: visible;
        -o-text-overflow: none;
        text-overflow: none;
        display: block;
        margin-bottom: 40px; }
      .block-26 .post-block .post-block-inner .date-info, .block-28 .post-block .post-block-inner .date-info {
        position: relative;
        bottom: auto; }
    .block-26 .post-block.no-picture .post-block-inner, .block-28 .post-block.no-picture .post-block-inner {
      height: auto; } }

@media (max-width: 576.98px) {
  .block-26 .post-block .img-block, .block-28 .post-block .img-block {
    height: calc((100vw - 30px) / 1.52); } }
