/* Variables */
/* Contacts page styles */
.block-19 form textarea {
  height: 137px; }

.block-19 .contact-form {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

@media (max-width: 991.98px) {
  .block-19 #map {
    height: 50vw; }
  .block-19 .contact-form {
    position: relative;
    right: auto;
    top: auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; } }

@media (max-width: 767.98px) {
  .block-19 #map {
    height: 100vw; } }
