/* Variables */
/* Login page styles */
.block-20 .js-show-password {
  position: relative; }
  .block-20 .js-show-password .show_password {
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer; }
    .block-20 .js-show-password .show_password svg {
      fill: rgba(0, 0, 0, 0.3); }
    .block-20 .js-show-password .show_password.opened svg {
      fill: #2D74FF; }

.block-20 .block-login, .block-20 .block-register, .block-20 .block-restore {
  min-height: calc(100vh - 80px - 50px); }

@media (max-width: 575.98px) {
  .block-20 .block-register br {
    display: none; } }
