/* Variables */
/* Profile page styles */
.block-16 .user-avatar.no-photo, .block-17 .user-avatar.no-photo {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  background: #F1F4FA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 28px;
  line-height: 65px;
  letter-spacing: -0.8px;
  color: #2D74FF; }

.block-16 .order-block .status, .block-17 .order-block .status {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px; }
  .block-16 .order-block .status.on-the-way, .block-17 .order-block .status.on-the-way {
    background: #F1F4FA;
    color: #2D74FF; }
  .block-16 .order-block .status.done, .block-17 .order-block .status.done {
    background: rgba(144, 218, 26, 0.1);
    color: #90DA1A; }
  .block-16 .order-block .status.canceled, .block-17 .order-block .status.canceled {
    background: rgba(255, 78, 78, 0.1);
    color: #FF4E4E; }
