@import "variables.scss";

/* Checkout page styles */

.block-15{
	.line-header{
		height: 1px;
		width: 100%;
		background: rgba(0, 0, 0, 0.1);
		border-radius: 2px;
	}
	form{
		label{
			margin-left: 33px;
		}
		input[type="text"]{
			color: $black;
		}
		input[type="radio"]{
			&:before{
				height: 21px;
				width: 21px; 
			}
			&:after{
				height: 11px;
				width: 11px;
				left: 6px; 
			}
		}
		#payment-method{
			width: 200px;
		}
		.card-info{
			border-top:1px solid rgba(0, 0, 0, 0.1);
			border-bottom:1px solid rgba(0, 0, 0, 0.1);
			border-radius: 10px;
			input{
				&#card-number{
					border: 0px;
					border-right: 0px;
					border-left: 1px solid rgba(0, 0, 0, 0.1);
					border-radius: 10px 0 0 10px;
					width: 62%;
					background: transparent url("../i/card.svg") no-repeat 7% 50%;
					padding-left: 45px; 
				}
				&#card-period{
					border: 0px;
					width: 25%;
					padding: 0 14px 0 14px;
					text-align: center;
				}				
				&#card-cvc{
					border: 0px;
					border-left: 0px;
					border-right: 1px solid rgba(0, 0, 0, 0.1);
					border-radius: 0px 10px 10px 0px;
					width: 13%;
					padding: 0 10px 0 0;
					text-align: center;
				}				
			}
			.separator{
				height: 30px;
				width: 1px;
				background: rgba(0, 0, 0, 0.1);
				flex-shrink:0;
			}
		}
	}
	@media(max-width: 992px){
		form{
			#payment-method{
				width: 100%;
			}
			.card-info{
				border-top:0px solid rgba(0, 0, 0, 0.1);
				border-bottom:0px solid rgba(0, 0, 0, 0.1);
				border-radius: 0px;
				input{
					&#card-number{
						border: 1px solid rgba(0, 0, 0, 0.1);
						border-radius: 10px;
						width: 100%;
						background: transparent url("../i/card.svg") no-repeat 4% 50%;
					}
					&#card-period{
						border: 1px solid rgba(0, 0, 0, 0.1);
						width: 30%;
						padding: 0 16px;
					}				
					&#card-cvc{
						border: 1px solid rgba(0, 0, 0, 0.1);
						border-radius: 10px;
						width: 30%;
						padding: 0 16px;
					}				
				}
			}
		}		
	}
	@media(max-width: 575px){
		form{
			.card-info{
				input{
					&#card-period{
						width: 49%;
					}				
					&#card-cvc{
						width: 49%;
					}				
				}
			}
		}		
	}	
}