@import "variables.scss";

/* Main page styles */

.block-1{
	.bg-img{
		position: absolute;
		top:0;
		left:0;
		height:100%;
		width: 100%;
		filter: blur(24px);
		opacity: 0.3;
	}
	.item-img{
		transform: translateY(20px);
	}
}

