@import "variables.scss";

/* Login page styles */


.block-20{
	.js-show-password{
		position:relative;	
		.show_password{ 
			position: absolute;
			right: 16px;
			top: 16px;
			cursor: pointer;
			svg{			
				fill: $grey-dark-3;
			}
			&.opened{  
				svg{
					fill: $accent-blue-4;
				}
			} 
		}
	}
	.block-login, .block-register, .block-restore{
		min-height: calc(100vh - 80px - 50px);
	}
	.block-register{
		@media(max-width: 575.98px){
			br{
				display: none; 
			}
		}
		
	}
}
